@media screen and (min-width: 768px) {
  body {
    font: 13px/18px 'Lato', sans-serif;
  }

  #header {

    .logo {
      width: 307px;
      height: 75px;
      margin: 40px 0;
      overflow: hidden;
    }

    .nav-wrapper {
      .hover-block {
        position: absolute;
        z-index: 5;
        left: -30px;
        width: 110px;
        padding: 20px 0;

        &:before {
          top: 0;
          left: 50%;
        }
      }
    }
  }

  .welcome-top-nav {

    .main-nav {
      display: flex;
      flex-direction: row;
      align-items: stretch;
    }

    .hover-block {
      position: absolute;
      z-index: 2;
      top: 100%;
      left: 0;
      width: 300px;
      margin: 0;
      padding: 30px 0;
      border-top: 0;

      &:before {
        top: 0;
        left: 14%;
      }
    }

    .last-nav-button {
      .hover-block {
        right: 0;
        left: auto;

        &:before {
          left: auto;
          right: 14%;
        }
      }
    }

      .nav-button {
      width: calc(100% / 7);
      padding: 10px 5px;
      border-right: 1px solid #ffffff;

      &.first {
        border-left: 1px solid #ffffff;
      }
    }
  }

  .home-page-section {
    .first-h2 {
      margin-bottom: 0;
      text-align: right;
    }

    .first-p {
      text-align: left;
    }

    .news {
      li {
        margin-bottom: 30px;
      }
    }

    .announc {
      margin-bottom: 0;

      ul {
        padding: 20px 0 40px;
        border-bottom: 0;
      }
    }

    .calendar {
      ul {
        li {
          margin-bottom: 30px;
        }
      }
    }

    .big-button {
      line-height: 1.4em;
    }
  }
  #footer {

    .top-flex-group {
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 0 15px;

      .logo {
        margin-bottom: 0;
        text-align: left;
      }
    }

    .list-address {
      margin: 0;

      > li {
        margin-bottom: 0;
      }
    }

    h2 {
      margin-bottom: 20px;
    }

    #mc_embed_signup {
      padding: 25px 20px;

      strong {
        text-align: left;
      }
    }

    .copyright {

      .flex-group {
        justify-content: space-between;
        flex-direction: row;

        p {
          text-align: left;
        }
      }

      ul {
        margin-bottom: 0;
      }
    }
  }
}