@media screen and (min-width: 768px) {
  body {
    font: 13px/18px 'Lato', sans-serif;
  }
  #header {

    .logo {
      width: 307px;
      height: 75px;
      margin: 40px 0;
      overflow: hidden;
    }

  }
}