@media screen and (min-width: 992px) {

  body {
    font: 15px 'Lato', sans-serif;
  }

  #header {

    .nav-wrapper {
      .hover-block {
        width: 150px;
      }
    }
  }

  .welcome-top-nav {

    .hover-block {
      width: 400px;
    }
  }

  .home-page-section {

    .big-button {
      text-align: left;
    }
  }
}